[Unit]
Description=Check WIFI support on RaspberryPi Device

[Service]
Type=forking
ExecStart=/bin/sh -c '/usr/ccsp/wifi/checkwifi.sh'
RemainAfterExit=yes
